html, body {
	height: 100%;
}


#new-label {
  width: 100%;
  height: 5%;
  padding: 2.5em; 
}

#sample {
  width: 100%;
  height: 95%;
}

.main-d {	
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -300px -300px;
}

.status {
	#position: relative;
	background-color: orange;
	border: 3px solid green;
	box-sizing: border-box;
	font-weight: bold;
	color: grey;
  width: 20%;
  height: 100%;
  float: left;
}


